body {
    margin: 0;
    padding: 2rem;
    font-family: Arial, sans-serif;
    text-align: center;
  }
  
  h1 {
    margin-bottom: 1rem;
  }
  
  button {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    cursor: pointer;
  }
  
  /* Page containers */
  #welcome-page,
  #seed-page {
    max-width: 800px;
    margin: 0 auto;
  }
  
  .plant-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    justify-content: center !important;
    padding: 20px;
    border-radius: 20px;  
  }

  .plant-row:nth-of-type(1) {
    display: flex;
    align-items: center;
    width: 60%;
  }
  
  .plant-img {
    width:90px !important;
    height:auto !important;
    border-radius: 20%;
    margin: 0 40px;   
    cursor: pointer;  
  }
  
