body {
    margin: 0;
    padding: 2rem;
    font-family: Arial, sans-serif;
    text-align: center;
  }
  
  h1 {
    margin-bottom: 1rem;
  }
  
  button {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    cursor: pointer;
  }
  
  /* Page containers */
  #welcome-page,
  #seed-page,
  #session-page {
    max-width: 800px;
    margin: 0 auto;
  }
  
  .plant-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    justify-content: center !important;
    padding: 20px;
    border-radius: 20px;  
  }
  
  .plant-img {
    width:100px !important;
    height:auto !important;
    border-radius: 20%;
    margin: 0 40px;   
    cursor: pointer;  
  }

  .plant-option {
    margin: 20px;
    padding: 10px;
    border: 5px solid;
    border-color:rgb(105, 101, 101);
    border-radius: 10px;
    cursor: pointer;
  }

  .plant-option:hover {
    border-color: rgb(162, 232, 232);
  }

  .session-style {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    justify-content: center !important;
    padding: 20px;
    border-radius: 20px;  
  }

  .session-option {
    margin: 20px;
    padding: 10px;
    border: 5px solid;
    border-color:rgb(105, 101, 101);
    border-radius: 10px;
    cursor: pointer;
  }
  
  .session-img {
    width:200px !important;
    height:auto !important;
    border-radius: 20%;
    margin: 0 40px;   
    cursor: pointer;  
  }
  
  .session-option:hover {
    border-color: rgb(162, 232, 232);
  }

  .task-num-editor span {
    display: inline-block;
    width: 2rem;
    text-align: center;
    font-size: 1.5rem;
    margin: 0 1rem;
  }

  .timer-num-editor span {
    display: inline-block;
    width: 2rem;
    text-align: center;
    font-size: 1.5rem;
    margin: 0 1rem;
  }
  .watering-img {
    max-width: 50%;
    height: auto;
  }
    