  @font-face {
    font-family: 'Lateef';
    src: url('fonts/Lateef-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  body {
    margin: 0;
    padding: 2rem;
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #A2D062;
  }
  
  h1 {
    margin-bottom: 1rem;
    font-family: Lateef, Arial, sans-serif;
    font-size: 70px;
    color: #A2D062;
  }

  h2 {
    margin-bottom: 1rem;
    font-family: Lateef, Arial, sans-serif;
    font-size: 50px;
    color: #A2D062;
  }
  
  button {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    cursor: pointer;
  }
  
  /* Page containers */
  #welcome-title {
    background-color: #FFEFAD;
    padding: 5px;
    border-radius: 100px;
    width: 90%;
  }

  #seed-page,
  #session-page,
  #task-number-page,
  #edit-timer-page,
  #timer-study-page {
    background-color: #FFEFAD;
    padding: 20px;
    border-radius: 45px;
    width: 90%;
    text-align: center;

  }

  #welcome-page,
  #task-number-page,
  #edit-timer-page {
    margin: 0 auto;    
    max-width: 800px;
    text-align: center;
    padding: 20px;
    width: 90%;
    border-radius: 45px;
  }
  
  .plant-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    justify-content: center !important;
    padding: 20px;
    border-radius: 20px;  
  }
  
  .plant-img {
    width:100px !important;
    height:auto !important;
    border-radius: 20%;
    margin: 0 40px;   
    cursor: pointer;  
  }

  .plant-option {
    margin: 20px;
    padding: 10px;
    border: 5px solid;
    border-color:rgb(105, 101, 101);
    border-radius: 10px;
    cursor: pointer;
  }

  .plant-option:hover {
    border-color: rgb(162, 232, 232);
  }

  .session-style {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    justify-content: center !important;
    padding: 20px;
    border-radius: 20px;  
  }

  .session-option {
    margin: 20px;
    padding: 10px;
    border: 5px solid;
    border-color:rgb(105, 101, 101);
    border-radius: 10px;
    cursor: pointer;
  }
  
  .session-img {
    width:200px !important;
    height:auto !important;
    border-radius: 20%;
    margin: 0 40px;   
    cursor: pointer;  
  }
  
  .session-option:hover {
    border-color: rgb(162, 232, 232);
  }

  .task-num-editor span {
    display: inline-block;
    width: 2rem;
    text-align: center;
    font-size: 1.5rem;
    margin: 0 1rem;
  }

  .timer-num-editor span {
    display: inline-block;
    width: 2rem;
    text-align: center;
    font-size: 1.5rem;
    margin: 0 1rem;
  }
  .watering-img {
    width:200px;
    height:auto;
    border-radius: 20%;
    margin: 0 40px;   
    cursor: pointer;  
  }

  #welcome-button {
    font-family: Lateef, Arial, sans-serif;
    font-size: 55px;
    padding: 1rem 2rem;
    color: #A2D062;
    background-color: #FFEFAD;
    border: solid 6px;
    border-radius: 60px;
    margin-top: 80px;
  }

  #welcome-button:hover {
    background-color: #a89f6a;
  }

  .timer-num-editor {
    display: flex;
    flex-direction: row;
    justify-content: center;   
    align-items: center;       
    gap: 12px;                 
    font-family: Lateef, Arial, sans-serif;
    color: #A2D062;
    text-align: center;       
  }

  .timer-num-editor h2 {
    margin: 0;                
    font-size: 30px;        
    font-weight: 600;          
  }

  #timer-len {
    font-size: 30px;         
    font-weight: 700;      
    margin-right: 0%;  
  }

  #plus-time, #minus-time {
    font-size: 30px;         
    font-weight: 700;
    font-family: Lateef, Arial, sans-serif;      
    width: 50px;             
    height: 50px;            
    border-radius: 50%; 
    border: solid 6px;     
    text-align: center;
    border-color: #A2D062;    
    background-color: #FFEFAD;        
    color: #A2D062;          
    cursor: pointer;         
  }

  #session-button, 
  #seed-button, 
  #task-num-sub,
  #timer-num-sub,
  #timer-sub,
  #go-study {
    font-family: Lateef, Arial, sans-serif;
    font-size: 40px;
    padding: 1rem 2rem;
    color: #A2D062;
    background-color: #FFEFAD;
    border: solid 6px;
    border-radius: 60px;
    margin-top: 40px;
  }

  #study-timer-update {
    font-size: 80px;         
    font-weight: 700;      
    margin-right: 0%; 
  }

  .timer-countdown {
    display: flex;
    flex-direction: row;
    justify-content: center;   
    align-items: center;       
    gap: 12px;                 
    font-family: Lateef, Arial, sans-serif;
    color: #A2D062;
    text-align: center;       
  }
      